.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.center-image{
     margin: 0 auto;
 }
@fontface {
  font-family: 'Lato', cursive, sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Bungee+Inline')
}

.loader:empty {
	background-image: url(logo.svg);
	background-repeat: no-repeat;
	background-position: center; 
	position: absolute;
	top: calc(50% - 4em);
	left: calc(50% - 4em);
	width: 6em;
	height: 6em;
	border: 2px solid rgba(0, 0, 0, 0.2);
/*	border-left: 2px solid #000000;*/
	border-radius: 50%;
	animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}